{% extends 'CHCWarManagerBundle::layout.html.twig' %}


{% block content %}

    <h1>War against {{ war.enemyClan.name }} ({{ war.numEnemies }} villages)</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-title">
                <i class="fa fa-tasks"></i> Reservas de batallas
            </div>
            <div class="widget-body no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% for i in 1..war.numEnemies %}
                                <tr>
                                    <td>{{ i }}.</td>
                                    
                                    {% if best_scores_array[i] is defined %}
                                    <td data-score="{{ best_scores_array[i] }}" class="score-{{ best_scores_array[i] }}">{{ best_scores_array[i] }} stars</td>
                                    {% else %}
                                    <td data-score="0" class="score-0">0 stars</td>
                                    {% endif %}
                                    
                                    {% if reservations[i] is defined %}
                                    <td>
                                        <span class="text-primary"><strong>{{ reservations[i].name }}</strong></span>
                                    </td>             
                                    {% else %}
                                    <td>
                                        <span>(free)</span>
                                    </td>                                    
                                    {% endif %}
                                    <td>
                                        {% if battles_array[i] is defined %}
                                        {% for b in battles_array[i] %}
                                        <span>
                                            <span>{{ b.clan_village_name }}: {{ b.score }} stars</span>                                            
                                        </span>  
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>
    
<script>
$('.score-3').parent().addClass('bg-success');
$('.score-2').parent().addClass('bg-info');
$('.score-1').parent().addClass('bg-warning');
</script>

{% endblock %}